{{ template "header"}}

<h1>GM</h1>
<h2>TEST</h2>
<div class="content">
    <div>
        {{range .Prompts}}
            {{ template "prompt" .}}
        {{end}}
    </div>
</div>

{{ template "footer"}}