{{define "nav-main"}}
<nav>
    <ul class="nav-ul">
        <li class="nav-li"><a class="nav-a" style="display: block" href="/"><div class="nav-a-leftside">Home</div>
            <div class="nav-a-rightside"><img style="height:27px;" src="/public/img/right-double-arrow-hi.png"/></div> </a> </li>
        <li class="nav-li"><a class="nav-a" style="display: block" href="/survey"><div class="nav-a-leftside">SURVEY EXAMPLE</div>
            <div class="nav-a-rightside"><img style="height:27px;" src="/public/img/right-double-arrow-hi.png"/></div> </a> </li>
    </ul>
</nav>
{{end}}