{{ define "prompt" }}

<div>
    <a>
        <div class="label-prompt">
            <label>{{.label}}</label>
        </div>
        <div class="control-prompt">
            <input placeholder="{{.placeholder}}" value="" />
        </div>
    </a>
</div>